BeautifulSoup==3.2.0
GnuPGInterface==0.3.2
Landscape-Client==1.5.0
PAM==0.4.2
Twisted-Core==10.0.0
command-not-found==0.1
discogs-client==1.1.0
distribute==0.6.10
envoy==0.0.0
hsaudiotag==1.1.1
httplib2==0.6.0
launchpadlib==1.6.0
lazr.restfulclient==0.9.11
lazr.uri==1.0.2
mutagen==1.20
oauth==1.0a
pexpect==2.3
pyOpenSSL==0.10
pycurl==7.19.0
pylast==0.5.11
pyserial==2.3
python-apt==0.7.94.2ubuntu6.2
requests==0.6.1
simplejson==2.0.9
smart==1.2
ufw==0.30pre1-0ubuntu2
virtualenv==1.4.5
wadllib==1.1.4
wsgiref==0.1.2
zope.interface==3.5.3
